<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body bgcolor="#2ed573">
    
    
    
    <div class="img-container">
        <div class="row">
            <a href="/meteo"><img src="/static/meteo.png" alt="meteo" width="100%"></a>
        </div>
        <div class="row">
            <a href="/frasi"><img src="/static/book.png" alt="book" width="100%"></a>
        </div>
        <div class="row">
            <a href="/calendario"><img src="/static/calendari.jpg" alt="calendar" width="100%"></a>
        </div>
    </div>


    


</body>

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        float: left;
        width: 33.33%;
        padding: 10px;
    }

    /* Clearfix (clear floats) */
    .img-container::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

</html>